*{
  box-sizing: border-box;
  margin: 0;
  padding: o;
  
 
  
}
.header-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  
}
h1{
  color: aqua;
}
.card-data{
  display: flex;
    width: 63%;
    justify-content: space-between;
}
.card{
  background-color: white;
  border: 1px solid white;
  border-radius: 2px;
  margin-top: 30px;
}
